html{
	min-height: 100%; 
	max-height: 100%;
}

body{
	background-image: url('../../img/background.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

header{
	position: relative;
	min-height: 110px;
	padding: 15px 0;
	color: #fff;
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer p{
	color: #fff;
	margin: 0;
	padding: 0;
}

footer .sucursal{
}

footer .date{
} 

button,button:hover,button:focus,button:active{
	border: none;
}

hr{
	border-top: 2px solid #000;
	width: 95%;
}

textarea{
	width: 100%;
}

.main-title{
	text-transform: uppercase;

}

.user{

}

.username{
	position: relative;
	width: 200px;
	background-color: #fff;
	border-radius: 25px;
	color: #000;
	padding: 2px 0px 2px 10px;
	font-weight: 700;
}

.username .options{
	right: 2px;
	width: 25px;
	height: 25px;
	background-color: #000;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	margin-left: 65px; 
}

.user-icon{
	position: relative; 
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgba(161,245,72,1);
	margin: 0 5px;
	text-align: center;
	font-size: 1.25em;
}

.user-icon img{
	min-width: 30px;
	min-height: 30px;
}

.dashboard-body{
	position: relative;
	height: 500px;
	max-height: 500px;
	overflow-y: scroll;
	margin: 10px 0;
	z-index: 50;
}

.jugueria-menu{
	margin: 20px; 
	padding: 15px 10px;
	font-size: 26px;
}

.jugueria-menu-footer{
	font-size: 24px;
}

.jugueria-button{
	border-radius: 25px;
	margin: 25px 5px;
	font-weight: 400;
	text-transform: uppercase;
	-webkit-box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
}

.jugueria-button-lg{
	width: 100%;
	display: block;
}

.jugueria-button-md{
	width: 50%;
	display: inline-block;
}

.jugueria-button-sm{
	font-size: 18px;
	width: auto;
	display: inline-block;
}

.home-btn{
	position: absolute;
	z-index: 100;
	padding: 10px;
	right: 50px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(15,15,15,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(15,15,15,1);
	box-shadow: 0px 0px 5px 0px rgba(15,15,15,1);
}

.return-btn{
	position: absolute;
	z-index: 100;
	padding: 10px;
	top: 60px;
	right: 50px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(15,15,15,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(15,15,15,1);
	box-shadow: 0px 0px 5px 0px rgba(15,15,15,1);
}

.button-with-options{
	text-align: left !important;
	padding: 0 15px;
	background-color: transparent !important;
	border-radius: 25px;
	margin: 25px 0;
	min-height: 50px;
}

.button-with-options .option{
	border-radius: 25px; 
	margin: 5px 2px;
}

.modify-box{
	position: relative;
	width: 80%;
	height: 500px;
	max-height: 500px;
	background-color: rgba(255,255,255,.8);
	margin: 10px;
	border: 5px solid #fff;
	border-radius: 25px;
	padding: 25px 0;
}

.modify-box-footer{
	position: absolute;
	bottom: 0;
	font-size: 24px;
}

.modify-box-footer button{
	padding: 5px 10px;
}

.add-ingredients-btn{
	font-size: 18px;
}

.ingredient label{
	font-size: 34px;
	cursor: pointer;
}

.ingredient input[type='checkbox']{
    border-radius:15px;
    -webkit-appearance:button;
    border: solid 3px #c0c0bf;
    background-color:#444245;
    color:#FFF;
    white-space: nowrap;
    overflow:hidden;
    width:30px;
    height:30px;
    cursor: pointer;
}

.ingredient input[type='checkbox']:checked{
	background: linear-gradient(to bottom, rgba(161,245,72,1) 0%, rgba(100,182,7,1) 100%);
}

.ingredient{
	text-align: left;
	padding: 0 25px;
}

.summary{
	position: relative;
	margin: 50px;
	text-transform: capitalize;
}

.order{
	margin: 15px 0;
}

.btn-summary{
	width: 50%;
	font-size: 26px;
	border-radius: 15px !important;
	margin: 10px 0 !important;
}

.production-box{
	position: relative;
	width: 80%;
	height: 500px;
	max-height: 500px;
	background-color: rgba(255,255,255,.8);
	margin: 10px;
	border: 5px solid #fff;
	border-radius: 25px;
	padding: 25px 0;
	overflow-y: scroll;
}

.production{
	width: 80%;
	font-weight: 500;
}

.production thead{
	text-align: center;
	font-size: 36px;
}

.production tbody{
	font-size: 18px;
	border: 1px solid #000;
}

.production tbody td{
	border: 3px solid #fff;
	text-transform: uppercase;
}

.production tbody td button{
	
}

.employee{
	font-size: 32px;
}

.status{
	font-size: 32px;
}

.options button{
	margin: 5px 0 !important;
}

.notification-modal .modal-sm{
	max-width: 400px !important; 
}

.notification-modal .modal-content{
	background-color: #000;
	/*background-image: url();*/
	/*min-width: 30	0px;*/
	padding: 10px;
	border-radius: 20px;
	border: 3px solid #fff;	
	text-transform: uppercase;
	font-size: 1.25rem;
	font-weight: bold;
	text-align: center;
}

.notification-modal .modal-content .insider{
	background-color: rgba(255,255,255,.75);
	border-radius: 20px;
	padding: 10px;
}

.notification-modal .modal-content .standOut{
	display: block;
	font-size: 1.75rem;
}

.notification-modal button{
	font-weight: 600;
	padding: 10px 25px;
	margin-right: 5px;
	margin-left: 5px;
}

.add-plus{
	width: 30px;
	height: 30px;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
}

#add-ingredient-manual{
	padding: 0 7px;
}

.btn-green{
	background: linear-gradient(to bottom, rgba(161,245,72,1) 0%, rgba(100,182,7,1) 100%);
	color: #000;
	border: none;
}

.btn-orange{
	background: linear-gradient(to bottom, rgba(250,188,129,1) 0%, rgba(245,114,0,1) 100%);
	color: #000;
	border: none;
}

.btn-blue{
	background: linear-gradient(to bottom, rgba(95,231,238,1) 0%, rgba(11,170,185,1) 100%);
	color: #000;
}

.btn-yellow{
	background: linear-gradient(to bottom, rgba(247,247,76,1) 0%, rgba(181,181,9,1) 100%);
	color: #000;
}

.btn-brown{
	background: linear-gradient(to bottom, rgba(241,189,77,1) 0%, rgba(179,122,9,1) 100%);
	color: #000;
}

.btn-red{
	background: linear-gradient(to bottom, rgba(241,167,143,1) 0%, rgba(194,95,59,1) 100%);
	color: #000;
}